body{
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}


.menu li {
    background-color: hsl(49, 73%, 61%);
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
  }
  
  .menu li:hover {
    background-color: #e6413b;
  }

  .menu ul {
    display: none;
  }
  
  .menu li:hover ul {
    display: block;
    animation: slide-down 0.3s ease;
  }

  
  
  
  
