body{
    background-color: #632432;
    font-family: Arial;
}

#main-container{
    margin: 150px auto;
    width: 1000px;
}

.menu{
    list-style: none;
    padding: 0;
    background: rgb(252, 244, 244);
    width: 55%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    color:black;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: hsl(0, 64%, 59%);
}

table{

    background-color: whitesmoke;
    text-align: left;
    width: 1000px;
    border-collapse: collapse;
}

td, th{
    border: solid 1px black;
    padding: 10px;
}

thead{
    background-color: #246355;
    border-bottom: solid black;
}

tr:nth-child(even){
    background-color:#ddd;
}

.NuevaAgencia{
    width: 20%;
    padding: 10px;
    border:1px solid #000;
    color:#fff;
    background-color:#8b93d6;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
}
